.primary-font{
  font-family: "Poppins", sans-serif;
}
.meriwether-font{
  font-family: "Merriweather", serif;
  font-weight: 300;
}
.secondaryFont {
  font-family: 'Open Sauce One', sans-serif !important;
}

@media (max-width: 767px) {
  .hero-animate{
    font-family: 'Open Sauce One', sans-serif !important;
  }
}
@media (min-width: 768px) {
  .hero-animate{
    font-family: "Merriweather", serif;
    font-weight: 300;
  }
}
@media (max-width: 375px) {
  .hero_h1{
    font-size: 55px;
  }
  .hero_p{
    font-size: 16px;
  }
}
